mixin color-block(name, rgb)
 .color-block
     .color-block__palette&attributes(attributes)
     .color-block__text
        .color-block__name= name
        .color-block__rgb= rgb

mixin text-examples__block(tagname, tag, text)
    .text-examples__block
        #{tag}= tagname
        #{tag}= text

mixin calend__row( ...numbers)
    tr
        each number in numbers
            td.calendar__day-of-the-month= number